/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  display: flex;
  margin: auto auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
